[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
bcrypt = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
python-dotenv = "*"
flask-dotenv = "*"
openai = "*"
faker = "*"
app = "*"

[dev-packages]

[requires]
python_version = "3.12"
